:root {
    --primary-color: #e1ca96;
    --secondary-color: #96C9dc;
    --accent1-color: #C49BBB;
    --accent2-color: #588157;
    --heading-font: "Open San", sans-serif;
    --text-font: "Raleway", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
    color: var(--secondary-color);
    line-height: 1.6;
    background-color: white;
}

header {
    font-family: var(--heading-font);
    background-color: #2d3748;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #588157;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 170px;
}

header .logo {
    width: 150px;
    height: auto;
    margin-right: 1rem;
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    gap: 1rem;
}

.link {
    text-decoration: none;
    transition: background-color 0.7s;
    color: #96C9dc;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 5px;
    background-color: #588157;
}

.link:hover {
    background-color: #fff;
}

.hero {
    position: relative;
    text-align: center;
    padding: 2rem 0;
}

.hero h1 {
    font-family: var(--heading-font);
    color: black;
    font-size: 2.5rem;
    margin: 1rem 0;
    align-items: center;
}

.hero-text {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.hero-text .hero-img{
    width: 400px;
    height: 250px;
    border: 2px solid #e1ca96;
}

.hero-text p {
    flex: 1;
    font-size: 1.1rem;
}

.history h2 {
    font-family: var(--heading-font);
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #96C9dc;
}

.history-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-text {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.history-text p {
    flex: 1;
    max-width: 40%;
}

.history-img {
    width: 400px;
    height: auto;
    border-radius: 5px;
}

.adventures h2 {
    font-family: var(--heading-font);
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #588157;
    text-align: center;
}

.adventures-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.adventures-gallery figure{
    flex: 1 1 180px;
    max-width: 400px;
    text-align: center;
}

.adventures-gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.adventures-gallery figcaption {
    font-family: var(--text-font);
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

footer p {
    font-size: 1rem;
    text-align: center;
}

.socialmedia {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
}

.socialmedia a {
    text-decoration: none;
    display: block;
}

.socialmedia img {
    width: 30px;
    height: 30px;
}


.hero img {
    display: flex;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    color: #fff;
}

article {
    position: absolute;
    top: 380px;
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
    background: black;
    opacity: 0.5;
}

.employees {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.employees, h3 {
    font-family: var(--heading-font);
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #588157;
    text-align: center;
}

.contact h1 {
    font-family: var(--heading-font);
    color: #588157;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
    font-size: 2.5rem;
}

.contact-details {
    text-align: center;
    font-size: 1.2rem;
}

.contact-details h2 {
    color: var(--accent2-color);
    font-size: 1.8rem;
    border-bottom: 1px solid ;
}

figcaption {
    color: var(--secondary-color);
}

.form-item label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: var(--accent1-color);
    font-size: 1.8rem;
    text-align: center;
}

.form-item label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--accent2-color)
}

input, select, textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form-item textarea {
    resize: vertical;
    min-height: 150px;
}

.form-item {
    margin-bottom: 1.5rem;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid rgb(0, 0, 0 / 0.1 );
    border-radius: 0.5rem;
    background-color: #2d3748;
    display: grid;
}

input [type="checkbox"] , input [type="radio"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75px;
    font-size: 1.2rem;
}

button:hover {
    background-color: navy;
}

h4 {
    color: var(--accent1-color);
}

.hero-text2 {
    position: absolute;
    top: 5%;
    right: 30%;
    color: #fff;
    padding: 1.5rem;
    border-radius: 5px;
    max-width: 400px;
    margin-left: 2rem;
}

.hero-text2 p {
    font-size: 1.5rem;
}

.hero-text2 h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
}

.closing {
    padding: 2rem 0;
    text-align: center;
}

.closing-scene {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.closing-scene img {
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.closing-text {
    position: absolute;
    right: 10%;
    background-color: #2d3748;
    color: #fff;
    padding: 1.5rem;
    border-radius: 5px;
    max-width: 500px;
    margin-left: 2rem;
}

.closing-text h2 {
    color: var(--accent2-color);
}

.hero2 img {
    width: 100%;
}

.hero2 {
    position: relative;
    text-align: center;
    padding: 2rem 0;
}

.newsletter {
    padding: 2rem 0;
    text-align: center;
    border-radius: 5px;
}

.trip-types {
    padding: 2.5rem 0;
}

.trip-content {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.trip-details {
    padding: 1rem;
}

.trip-details h2 {
    font-size: 1.5rem;
    color: #2d3748;
    margin-bottom: 0.5rem;
}

.trip-details p {
    margin-bottom: 1rem;
}

.trip-table {
  padding: 2rem 0;
}

.trip-table .container {
  max-width: 800px;
  margin: 0 auto;
}

.trip-table h2 {
  font-size: 1.5rem;
  color: #1a3c34;
  text-align: center;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

th, td {
  padding: 0.75rem;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #1a3c34;
  color: var(--accent2-color);
}

td a {
  display: block;
  text-align: center;
}

.customer-feedback h2 {
    color: #2d3748;
}

footer {
    border-top: 1px solid #2d3748;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

