:root {
    --primary-color: darkblue;
    --text-color: white;
    --border-color: #000;
    --aside-bg-color: #eee;
    --aside-text-color: #333;
    --border-width: 1px;
    --spacing-unit: 1rem;
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-width) solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: var(--spacing-unit);
    border: var(--border-width) solid rgb(0 0 0 / 0.2);
    padding: var(--spacing-unit);
    background-color: var(--aside-bg-color);
    color: var(--aside-text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border-width) solid var(--border-color);
    text-align: center;
}